---
layout: home.njk
permalink: /
---
<div class="frame"></div>
<div class="hero-text">
    <h1>Choonie Chang</h1>
    <p>Product Designer.</p>
    <p>Domain Diver.</p>
    <p>System Builder.</p>
</div>
<div class="work-list">
    <ul>
        <li class="work-item" onclick="window.location.href='/viscovery/'">
            <div>
                <div class="title">Viscovery</div>
                <div class="subtitle">- AI Video SaaS Ecosystem</div>
            </div>
            <span class="arrow">&rarr;</span>
        </li>
        <li class="work-item" onclick="window.location.href='/hangie/'">
            <div>
                <div class="title">Hangie</div>
                <div class="subtitle">- Web3 Energy Rental Platform</div>
            </div>
            <span class="arrow">&rarr;</span>
        </li>
        <li class="work-item" onclick="window.location.href='/ics/'">
            <div>
                <div class="title">ICS</div>
                <div class="subtitle">- Multi-Brand Design System</div>
            </div>
            <span class="arrow">&rarr;</span>
        </li>
        <li class="work-item" onclick="window.location.href='/accupass/'">
            <div>
                <div class="title">ACCUPASS</div>
                <div class="subtitle">- Event Platform Redesign</div>
            </div>
            <span class="arrow">&rarr;</span>
        </li>
    </ul>
</div>
<div class="link-list">
    <ul>
        <li class="work-item">
            <div>
                <div class="title">About</div>
            </div>
            <span class="arrow">&rarr;</span>
        </li>
        <li class="work-item">
            <div>
                <div class="title">Linkedin</div>
            </div>
            <span class="arrow">&rarr;</span>
        </li>
        <li class="work-item">
            <div>
                <div class="title">Say Hi</div>
            </div>
            <span class="arrow">&rarr;</span>
        </li>
    </ul>
</div>
<canvas id="particleCanvas"></canvas>
