/* ── Hero ── */
.hero-image-container {
    background: #111;
}
.hero-image-container img {
    width: 100%;
    top: 0;
    border-radius: 0;
    box-shadow: none;
    object-fit: cover;
    height: 100%;
    transform: translateX(-50%);
}
